.app{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  background-color: rgb(250, 13, 230);

  h3, h4{
    color: aliceblue;
    font-weight: normal;
  
  }


  .buttons{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 50px;
  }

  p{
    font-size: 2rem;
    font-weight: 400;
    text-decoration: underline;
  }
}